.form-field {
  font-size: 0.9rem;
}
.navbar {
  height: 5rem !important;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
.mat-form-field-wrapper {
  padding-bottom: 0 !important;
}
